@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700);
body {
	max-width: 100%;
	min-width: 320px;
	overflow-x: hidden;
	width: 100%;
}
.normes-ul-entete-ul {
	background: linear-gradient(to right, #ffc103, #ffc103 50%, #e30513 50%, #e30513 100%) no-repeat, #fff;
	background-size: 100% 30px;
	display: flex;
	padding: 0 15px;
	position: relative;
	z-index: 999; //Pour que le menu mobile passe en arrière de l'entête
	*,
	*::after,
	*::before {
		box-sizing: border-box;
	}
	.entete-contenu {
		display: flex;
		margin: 0 auto;
		max-width: $largeur-maximum-site;
		width: 100%;
	}
	object {
		pointer-events: none;
	}
	.or {
		border-right: 2px solid #fff;
		padding: 55px 30px 17px 0;
		display: flex;
	}
	.rouge {
		align-items: center; //Nécessaire à IE11
		border-top: 30px solid #e30513;
		display: flex;
		flex: 1;
		padding: 13px 0 13px 25px;
	}
	.logo-mobile {
		display: none;
	}
	.titres {
		display: flex;
		flex: 1 1 auto; //Le 2e 1 et le auto sont nécessaires à IE11
		flex-direction: column;
		margin: auto 0;
	}
	.titre {
		color: #000;
		font: 300 18px 'Source Sans Pro', sans-serif;
		line-height: 20px;
		margin-right: auto; //Empêche le lien de prendre toute l'espace vide
		text-decoration: none;
	}
	.surtitre {
		color: #000;
		font: 700 16px 'Source Sans Pro', sans-serif;
		line-height: 20px;
		margin-bottom: 6px;
		margin-right: auto; //Empêche le lien de prendre toute l'espace vide
		text-decoration: none;
	}
	.navigation {
		align-self: stretch; //Parce que j'ai dû mettre align-items: center; à .rouge pour IE11
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
	}
	.navigation-generale {
		padding: 4px 0 10px 0;
		text-align: right;
		li {
			display: inline-block;
		}
		a {
			color: #000;
			font: normal 13px 'Source Sans Pro', sans-serif;
			margin-left: 20px;
			text-decoration: none;
		}
		[class*="current"],
		a:hover {
			text-decoration: underline;
		}
	}
	.utilitaires {
		align-items: flex-start;
		display: flex;
		flex: 1 1 auto; //Le 2e 1 et le auto sont nécessaires à IE11
		flex-wrap: wrap;
		justify-content: flex-end;
		a {
			border: 1px solid #8d8b8c;
			color: #8d8b8c;
			display: inline-block;
			height: 40px;
			margin: 8px 0 0 7px;;
			text-decoration: none;
			outline: 0; //Ligne pointillée qui apparait dans Firefox au clic
			width: 48px;
			&:hover {
				background: #d5d5d5;
			}
		}
	}
	.recherche {
		font-size: 38px;
		font: 300 38px 'Source Sans Pro', sans-serif;
		padding: 0 3px 0 5px;
		&.ouvert {
			background: #1c1c1c;
			border: 1px solid #1c1c1c;
			&:hover {
				background: #1c1c1c !important;
			}
		}
	}
	.icon-close {
		color: #7F8080;
		display: none;
		margin-left: -1px;
	}
	.switch-langue {
		font: 300 18px 'Source Sans Pro', sans-serif;
		line-height: 36px;
		text-align: center;
		padding: 1px 13px 1px 13px;
	}
}
.normes-ul-recherche {
	background: #1c1c1c;
	color: #fff;
	display: none;
	height: 92px; //Si modifié, à changer dans composantes-ul.js
	margin-bottom: -15px;
	position: relative;
	top: -14px;
	width: 100%;
	z-index: 1000;
	&.ouvert {
		display: block;
	}
	form {
		margin: 0 auto;
		max-width: $largeur-maximum-site;
		padding: 25px 15px;
		position: relative;
	}
	.champ-recherche {
		background: #1c1c1c;
		border: 1px solid #4b4b4b;
		box-sizing: border-box; //Pour les sites qui utilisent normalize.css
		color: #a4a3a2;
		font: 400 20px 'Source Sans Pro', sans-serif;
		height: 40px;
		padding: 0 48px 0 15px; //Le padding droit équivaut à la largeur du bouton
		vertical-align: middle;
		width: 100%;
		&:focus {
		    outline: none;
		}
	}
	.btn-recherche {
		background: none;
		border: 1px solid #4b4b4b;
		cursor: pointer;
		height: 40px;
		padding: 1px 7px 1px 5px;
		position: absolute;
		right: 15px;
		top: 25px;
		width: 48px;
		&:focus {
		    outline: none;
		}
		&:hover {
		    background: #818181;
			.icon-recherche {
			   	color: #000;
			}
		}
		.icon-recherche {
			color: #fff;
			font-size: 40px;
		}
	}
	input[type=text]::-ms-clear { //Bouton qui permet d'effacer la valeur saisie dans un champ <input> (IE 10 et 11)
		display: none;
		height: 0;
		width: 0;
	}
	input[type="search"]::-webkit-search-decoration,
	input[type="search"]::-webkit-search-cancel-button,
	input[type="search"]::-webkit-search-results-button,
	input[type="search"]::-webkit-search-results-decoration {
		display: none;
	}
}

@media only screen and (max-width : 992px){
	.normes-ul-entete-ul {
		.or {
			padding: 46px 15px 17px 0;
		}
		.logo-complet,
		.navigation-generale, 
		.normes-ul-recherche,
		.utilitaires .switch-langue {
			display: none;
		}
		.logo-mobile {
			display: block;
		}
		.rouge {
			align-items: flex-start; //Pour surcharger align-items: center; nécessaire à IE11
			flex-direction: column;
			padding-left: 0;
		}
		.organisation {
			height: $hauteur-entete-mobile;
			min-width: 196px;
		}
		.titre {
			font-size: 17px;
		}
		.surtitre {
			font-size: 14px;
			line-height: 16px;
			margin-bottom: 4px;
		}
		.utilitaires {
			align-items: flex-end;
		}
	}
	.normes-ul-recherche .champ-recherche {
		font-size: 16px;
	}
}