@mixin menu-principal($couleurBande, $couleurTexteBande, $couleurBackgroundHover, $couleurLienHover, $couleurSeparateursV, $couleurHoverNiveau2) {
	div {
		ul li {
			&:hover > a,
			&[class*="current"] > a {
				background: $couleurBackgroundHover;
			   	color: $couleurLienHover;
			}
	        a {
			    &:hover {
			    	background: $couleurBackgroundHover;
			        color: $couleurLienHover;
			    }
		    }
		}
		& > ul {
			background: $couleurBande;
		 	& > li > a {
		        color: $couleurTexteBande;
			}
		}
		ul ul {
	    	background: $couleurBackgroundHover;
	        li {
	        	&:hover a {
	        		background: $couleurHoverNiveau2;
	        	}
	        	&:last-of-type a {
		        	border-bottom: 1px solid $couleurSeparateursV;
			    }
		        a {
		        	border-top: 1px solid $couleurSeparateursV;
		        	color: $couleurLienHover;
		        }
		    }
	    }
	}
}
.normes-ul-navigation-principale {
	box-sizing: border-box;
	padding: 0 15px;
	width: 100%;
	*,
	*::after,
	*::before {
		box-sizing: border-box;
	}
	div {
		box-sizing: border-box;
		margin: 0 auto;
		max-width: $largeur-maximum-site;
		& > ul > li {
			float: left;
			& > a {
				text-align: center;
			}
		}
	}
	/* Crée les thèmes de menu */
	/* Paramètres menu-principal: $couleurBande, $couleurTexteBande, $couleurBackgroundHover, $couleurLienHover, $couleurSeparateursV, $couleurHoverNiveau2 */
	&.noir-sousmenu-gris {
		@include menu-principal(#2e2e2e, #fff, #5c5c5c, #fff, #6a6a6a, #494949);
		&.pleine-largeur { 
			background: #2e2e2e;
		}
	}
	&.blanc-sousmenu-gris {
		@include menu-principal(#fff, #2e2e2e, #cac9c9, #000, #d5d5d5, #dbdbdb);
		&.pleine-largeur { 
			background: #fff;
		}
	}
	&.gris-sousmenu-gris {
		@include menu-principal(#f2f2f2, #2e2e2e, #cac9c9, #000, #d5d5d5, #dbdbdb);
		&.pleine-largeur { 
			background: #f2f2f2;
		}
	}
	&.gris-sousmenu-blanc {
		@include menu-principal(#f2f2f2, #2e2e2e, #fff, #000, #d5d5d5, #f2f2f2);
		&.pleine-largeur {
			background: #f2f2f2;
		}
	}
	&.menu-centre ul {
		justify-content: center;
	}
	ul {
		display: flex;
		list-style: none;
    	padding: 0;
        &:after {
        	clear: both;
			content: "";
			display: table;
		}
        li {
	        line-height: 21px;
	        position: relative;
	        text-align: left;
			&:hover ul {
			    display: block;	/* Display the dropdown */
			}
	        a {
		        display: block;
				font: normal 18px 'Source Sans Pro', sans-serif;
		        padding: 25px;
		        text-decoration: none;
		    }
		    ul {
		    	display: none;
		    	left: 0;
		    	margin-top: -2px;
		        min-width: 205px; /* Set width of the dropdown */
		        padding: 30px 15px;
		        position: absolute;
		        z-index: 999;
		        li {
			        display: block;
			        a {
			        	padding: 15px 5px;
			        }
			    }
		    }
	    }     
    }
    /* On cache tous les ul de 3e niv et + */
    ul > li > ul ul {
    	display: none !important;
    }
}
@media only screen and (max-width: 992px) {
	.normes-ul-navigation-principale {
		display: none;
	}
}