$largeur-maximum-site : 1170px;

/* Permet de définir la hauteur de l'espace où la faculté/département est défini. Avec cette variable, on peut centrer les titres selon leurs formats. Par défaut, on met 80px pour centrer un nom de faculté affiché sur une ligne; 90px si on affiche aussi le nom du département. La bande de couleur n'est pas inclue dans la hauteur. */
$hauteur-entete-mobile : 90px;

$mapping-fonts : "fonts/";