@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700);

.normes-ul-entete {
  background: #fff;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1rem;

  //Couleurs
  &.entete-ulaval {
    .declencheur-menu {
      &.ouvert {
        background: #ed1c24;
      }
    }

    .nav-principale {
      background: #ed1c24;
    }

    .nav-generale {
      background: #000;

      a {
        color: #fff;
      }
    }

    .langues {
      background: #000;

      li {
        border-right-color: #fff;

        .active {
          background: #fff;
          color: #000;
        }
      }

      a {
        color: #fff;
      }
    }

    .donner {
      background: #000;

      a {
        background: #fff;
        color: #000;

        &:hover {
          background: $ul-gris-pale-02;
        }
      }
    }
  }
  //Fin - Couleurs

  .entete {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
  }

  .rouge {
    background: $ul-rouge-ul;
    height: 5px;
    width: 80%;
  }

  .or {
    background: $ul-jaune-ul;
    height: 5px;
    width: 20%;
  }

  .logo-ul {
    left: 15px;
    position: absolute; //Parce que la navigation est centrée dans la page
    top: 13px;

    img {
      height: auto;
      width: 100px;
    }
  }

  .declencheur-menu {
    background: #000;
    border: none;
    cursor: pointer;
    display: flex;
    float: right;
    height: 55px;
    width: 50px;

    &.ouvert {
      .ouvrir-menu {
        display: none;
      }

      .fermer-menu {
        display: flex;
      }
    }

    svg {
      fill: #fff;
      height: auto;
      margin: auto;
      width: 40px;
    }

    .fermer-menu {
      display: none;
    }
  }

  .navigations {
    display: flex;
    flex-wrap: wrap;
  }

  .nav-principale {
    background: #000;
    width: 100%;

    ul {
      list-style-type: none;
      margin: 0;
      padding: $demi-goutiere;
    }

    li {
      border-bottom: 1px solid #fff;

      &:last-of-type {
        border-bottom: none;
      }
    }

    a {
      color: #fff;
      display: block;
      font-weight: 600;
      padding: $demi-goutiere 5px;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .nav-generale {
    font-size: 0.875rem; //14px si la racine est 16px
    width: 100%;

    ul {
      margin: 0;
      padding: 0;
    }

    li {
      display: inline-block;
    }

    a {
      display: inline-block;
      padding: 25px $demi-goutiere;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .langues {
    display: flex;
    font-size: 1.25rem; //20px si la racine est 16px
    list-style-type: none;
    margin: 0;
    padding: 5px 10px 25px 10px;

    li {
      border-right-style: solid;
      border-right-width: 1px;
      display: inline-block;
      padding: 0 5px;

      &:last-of-type {
        border: none;
      }

      a,
      span {
        display: inline-block;
        padding: 3px 13px;
      }
    }

    a {
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .donner {
    display: flex;
    flex: 1;
    justify-content: flex-end;
    padding: 5px $demi-goutiere 25px 10px;

    a {
      font-size: 0.938em; //15px si la racine est 16px
      font-weight: 600;
      padding: 5px 20px;
      text-decoration: none;
      text-transform: uppercase;
    }
  }

  .chercher {
    background: #fff;
    padding: 40px $demi-goutiere;
    position: relative;
    width: 100%;

    button {
      background: transparent;
      border: none;
      cursor: pointer;
      height: 40px;
      position: absolute;
      //Le bouton est par dessus le champ
      right: 8px;
      top: 34px;
      width: 40px;
    }
  }

  .chercher-champ {
    border-bottom: 1px solid #000;
    border-left: none;
    border-right: none;
    border-top: none;
    font-size: 1.25rem; //20px si la racine est 16px
    padding-right: 17px; //Dégagement parce que la loupe embarque par dessus le champ
    width: 100%;

    &::-webkit-search-cancel-button {
      -webkit-appearance: none;
      background: url("../img/icones/fermer.svg");
      cursor: pointer;
      height: 30px;
      width: 30px;
    }
  }

  .chercher-etiquette { //Le label est sous le champ pour donner un effet de placeholder, tout en restant accessible. On le fait disparaitre en Javascript quand le focus tombe dans le champ.
    font-size: 1.25rem; //20px si la racine est 16px
    left: 15px;
    position: absolute;
    top: 40px;
  }

  input[type="radio"] {
    &:checked + label {
      background: #000;
      color: #fff;

      &:hover {
        background: #000;
      }
    }

    // Pour des raison d'accessiblité et pour faciliter la navigation au clavier, on ajoute le outline sur le label parce que le bouton radio est caché
    &:focus + label {
      outline: #a6c7ff solid 2px; //Parce qu'il faut faire un choix: valeur imitant Chrome 73 sur Windows 10
    }

    & + label {
      cursor: pointer;
      display: inline-block;
      font-size: 0.875rem; //14px si la racine est 16px
      margin: $demi-goutiere 0 0 0;
      padding: 5px 10px;

      &:hover {
        background: $ul-gris-pale-02;
      }
    }
  }
}
