 @import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700);

.normes-ul-entete {
  background: #fff;

  .rouge {
    height: 5px;
    width: 80%;
  }

  .or {
    height: 5px;
    float: left;
  }

  .logo-ul {
    left: 35px;
    position: absolute; //Parce que la navigation est centrée dans la page
    top: 13px;

    img {
      height: auto;
      width: 100px;
    }

    .declencheur-menu {
      background: #000;
      display: flex;
      height: 55px;
      width: 50px;

      svg {
        fill: #fff;
        height: auto;
        margin: auto;
        width: 20px;
      }
    }
  }

  //Navigation
  //padding-left: 135, + 10?
}

@media (min-width: $lg) {
  .normes-ul-entete {
    .rouge,
    .or {
      height: 7px;
    }

    .logo-ul img {
      width: 150px;
    }
  }
}
