@mixin pied-page($couleurBackground, $couleurTexte, $couleurTitre, $couleurLiens, $couleurIcones, $couleurBackgroundCopyright, $couleurSeparateur) {
  background: $couleurBackground;
  color: $couleurTexte;

  .titre-section strong,
  .copyright a,
  .copyright p,
  .communication strong {
    color: $couleurTitre;
  }

  .copyright {
    background: $couleurBackgroundCopyright;
  }

  [class^="icon"] {
    color: $couleurIcones;
  }

  .liens {
    border-left: 1px solid $couleurSeparateur;

    a {
      color: $couleurLiens;
    }
  }
}

.normes-ul-pied-page {
  color: #fff;
  font: 300 14px 'Source Sans Pro', sans-serif;
  width: 100%;

  &.charcoal {
    @include pied-page(#2e2e2e, #fff, #fff, #1895fd, #999, #181818, #4a4a4a);
  }

  &.blanc {
    @include pied-page(#fff, #737272, #000, #1895fd, #e30513, #dadada, #ccc);
  }

  *,
  *::after,
  *::before {
    box-sizing: border-box;
  }

  section {
    box-sizing: border-box;
  }

  a,
  a:hover {
    color: #1895fd;
    font-weight: 400;
    text-decoration: none;
  }

  p {
    font: 300 14px 'Source Sans Pro', sans-serif;
  }

  .pied-page-contenu {
    box-sizing: border-box;
    margin: 0 auto;
    max-width: $largeur-maximum-site + 30; //Le + 30 vient du fait que les goutières sont gérées différemment que dans l'entête.
    padding: 50px 15px;

    &::after {
      clear: both;
      content: "";
      display: table;
    }
  }

  .bloc-carte {
    float: left;
    padding-right: 30px;
    width: 48%;

    img {
      display: block;
    }
  }

  .carte {
    margin-bottom: 8px;
  }

  .carte,
  .photo {
    max-width: 256px;
    width: 100%;
  }

  .bloc-adresse {
    float: left;
    padding-right: 20px;
    width: 50%;

    a:hover {
      text-decoration: underline;
    }

    p {
      line-height: 17px;
      margin-bottom: 18px;
    }
  }

  .titre-section {
    margin-bottom: 15px;

    strong {
      font: normal 18px 'Source Sans Pro', sans-serif;
    }
  }

  .courriel a {
    display: block;
  }

  .telephone span {
    color: #1895fd;
    display: block;
    font-weight: 400;
  }

  .telecopieur span {
    display: block;
  }

  .coordonnees {
    box-sizing: border-box;
    float: left;
    width: 50%;
  }

  .liens {
    box-sizing: border-box;
    float: left;
    padding: 0 30px 50px;
    width: 33.3333%;

    a {
      display: table;
      margin-bottom: 10px;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .communication {
    box-sizing: border-box;
    float: right;
    width: 16.6666%;

    a[class^="icon"],
    a:hover[class^="icon"] {
      display: block;
      float: left;
      font-size: 41px;
      line-height: 45px;
      margin-right: 3px;
    }

    strong {
      font: normal 18px 'Source Sans Pro', sans-serif;
      margin: 0;
    }

    .bouton {
      background: #e30513;
      color: #fff !important;
      display: block;
      font: 300 14px 'Source Sans Pro', sans-serif;
      margin-bottom: 35px;
      padding: 10px 10px 12px 10px;
      text-align: center;

      &:hover {
        background: #870403;
      }
    }

    .abonnement {
      border-bottom: 1px solid #999;
      border-top: 1px solid #999;
      display: block;
      float: left;
      margin-top: 25px;
      padding: 3px 0;
      text-align: center;
      width: 100%;

      .icon-enveloppe {
        font-size: 50px;
        line-height: 32px;
      }
    }
  }

  .copyright {
    clear: both;
    font-weight: 300;

    & > div {
      font-size: 12px;
      margin: 0 auto;
      max-width: $largeur-maximum-site + 30;
      padding: 8px 15px;

      div {
        display: inline;

        &:nth-child(2) span:last-of-type::after {
          content: "";
          padding: 0;
        }
      }
    }

    a {
      font-weight: 300;

      &:hover {
        text-decoration: underline;
      }
    }

    span {
      font-weight: 300; //nécessaire pour les sites utilisant normalize.css
      &::after {
        content: "|";
        padding: 0 10px;
      }
    }
  }
}

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  .normes-ul-pied-page {
    .coordonnees {
      width: 67%;
    }

    .liens {
      width: 33%;
    }

    .liens + .communication {
      clear: both;
      float: none;
      margin: 0 auto;
      padding-top: 40px;
      width: 50%;
    }

    .copyright {
      & > div div {
        display: block;
      }

      div div span:last-of-type::after {
        content: "";
        padding: 0;
      }
    }
  }
}

/* Small Devices, Tablets */
@media only screen and (max-width: 767px) {
  .normes-ul-pied-page {
    font-size: 13px;

    .bloc-carte,
    .bloc-adresse,
    .communication,
    .coordonnees,
    .liens {
      border: none !important;
      clear: both;
      float: none;
      padding: 25px 0 0 !important;
      width: 100% !important;
    }

    .bloc-carte,
    .coordonnees {
      padding-top: 0 !important;
    }

    .bloc-adresse p:last-of-type {
      margin: 0;
    }

    .carte,
    .photo {
      max-width: 100%;
      width: 100%;
    }
  }
}

/* Small Devices, Tablets */
@media only screen and (max-width: 767px) and (orientation: landscape) {
  .normes-ul-pied-page {
    -webkit-text-size-adjust: 100%;

    .bloc-carte,
    .bloc-adresse {
      border: none !important;
      clear: none;
      float: left;
      padding: 25px 30px 0 0 !important;
      width: 50% !important;
    }
  }
}
