.nav-mobile-actif {
  overflow: hidden;

  .ul-bandeau {
    overflow-y: scroll;
  }

  .nav-mobile-bascule {
    .fermer-gauche,
    .fermer-droite {
      opacity: 1;
      transform: rotate(0);
    }

    .ouvrir-haut,
    .ouvrir-milieu,
    .ouvrir-bas {
      opacity: 0;
      transform: rotate(180deg);
    }
  }
}

.nav,
.nav-mobile {
  .menu {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;

    a {
      display: block;
      padding: 1rem;
      text-decoration: none;
    }
  }
}

.nav {
  display: none;
  width: 100%;

  &-ul {
    align-items: center;
    font-weight: 600;
    justify-content: center;

    .menu {
      a {
        color: inherit;
        padding: 0.375rem 1rem 0.625rem;
        position: relative;

        &:focus {
          outline: none;
        }

        &::after {
          border-bottom: 3px solid $ul-noir-ul;
          bottom: 0.25rem;
          content: "";
          left: 1rem;
          opacity: 0;
          position: absolute;
          right: 1rem;
          transition: opacity 0.125s ease-out;
        }

        &:hover,
        &:focus {
          &::after {
            opacity: 1;
          }
        }
      }
    }
  }

  &-meta {
    position: absolute;
    right: 0.625rem;
    top: 0.5rem;
    width: auto;

    .menu {
      a {
        color: $ul-noir-ul;
        font-size: 0.813rem;
        margin-left: 0.25rem;
        padding: 0.5rem 0.625rem;

        &:hover,
        &:focus {
          text-decoration: underline;
        }

        &:focus {
          outline: 2px solid #09f;
          outline-offset: -6px;
        }
      }
    }
  }

  &-unite {
    background-color: $ul-noir-ul;

    .menu {
      flex: 1 0 auto;
      justify-content: center;

      a {
        align-items: center;
        color: $ul-blanc-ul;
        display: flex;
        height: 100%;
        padding: 0.688rem 2rem;
        position: relative;
        transition: background-color 0.125s ease-out;

        &:hover,
        &:focus {
          background-color: rgba(255, 255, 255, 0.25);
        }

        &:focus {
          //box-shadow: inset #333 0 0 0 2px, inset #fff 0 0 0 3px;
          //text-decoration: underline;
          outline: none;

          /* &::after {
            border-bottom: 2px solid #fff;
            bottom: 0.75rem;
            content: "";
            left: 1rem;
            position: absolute;
            right: 1rem;
          } */
        }
      }
    }
  }

  &-unite .ul-sous-unite + .menu {
    background: #2c2c2c;
    display: flex;
    justify-content: flex-start;

    a {
      padding: 0.688rem 1rem;
    }
  }
}

.nav-mobile {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding-top: 60px;

  .menu {
    &.principal,
    &.secondaire,
    &.utilitaires {
      padding-bottom: 1.5rem;
    }

    &.principal {
      flex-direction: column;
      padding-top: 1rem;

      a {
        font-weight: 600;
        position: relative;

        &::after {
          border-bottom: 1px solid $ul-blanc-ul;
          bottom: 0;
          content: "";
          left: 1rem;
          position: absolute;
          right: 1rem;
        }
      }
    }

    &.utilitaires {
      flex-wrap: wrap;
      justify-content: space-between;
    }

    &.secondaire {
      flex-basis: 100%;

      a {
        font-size: 0.875rem;
        padding: 0.375rem 1rem;
      }
    }

    &.meta {
      margin: 0 1rem;
    }

    .action-donner {
      background-color: $ul-blanc-ul;
      color: $ul-noir-ul;
      margin: 0 1rem;
      padding: 0.375rem 1rem;

      &:focus {
        outline: 1px solid $ul-noir-ul;
        outline-offset: -3px;
        text-decoration: none;
      }

      &:hover {
        background-color: $ul-noir-ul;
        box-shadow: inset $ul-blanc-ul 0 0 0 1px;
        color: $ul-blanc-ul;
        text-decoration: none;
      }
    }

    a {
      color: $ul-blanc-ul;

      &:hover {
        text-decoration: underline;
      }

      &:focus {
        outline: none;
        text-decoration: underline;
      }
    }
  }

  .selecteur-langue {
    li {
      border-left: 1px solid $ul-blanc-ul;

      &:first-child {
        border-left: 0;

        a {
          margin-left: 0;
        }
      }

      &:last-child {
        a {
          margin-right: 0;
        }
      }
    }

    a {
      font-size: 1.25em;
      line-height: 1.875rem;
      margin: 0 0.375rem;
      padding: 0;
      text-align: center;
      width: 2.5rem;

      &:focus {
        outline: 1px solid $ul-blanc-ul;
        outline-offset: -3px;
        text-decoration: none;
      }
    }

    .actif {
      background-color: $ul-blanc-ul;
      color: $ul-noir-ul;

      &:focus {
        outline: 1px solid $ul-noir-ul;
        outline-offset: -3px;
      }
    }
  }

  .recherche {
    background-color: $ul-blanc-ul;
    flex: 1 1 auto;
    padding: 1rem;
  }
}

.nav-mobile-bascule {
  background-color: $ul-noir-ul;
  cursor: pointer;
  transition: background-color 0.25s ease-out;

  &:hover {
    background-color: $ul-gris-fonce-02;
  }

  &:focus {
    box-shadow: inset 0 0 0 2px $ul-gris-fonce-02, inset 0 0 0 3px $ul-blanc-ul;
    outline: none;
  }

  .ouvrir-haut,
  .ouvrir-milieu,
  .ouvrir-bas {
    transform: rotate(0);
    transform-origin: 50% 50%;
  }

  .fermer-gauche,
  .fermer-droite {
    opacity: 0;
    transform: rotate(-180deg);
    transform-origin: 50% 50%;
  }

  .ouvrir-haut,
  .ouvrir-milieu,
  .ouvrir-bas,
  .fermer-gauche,
  .fermer-droite {
    transition: all 0.2s ease 0.1s;
  }
}

.action-donner {
  font-size: 0.938rem;

  /* I made this */

  /* font-weight: 600; */

  font-weight: 700;
  text-transform: uppercase;
  transition: background-color 0.125s ease-out, color 0.125s ease-out, box-shadow 0.125s ease-out;
}

@media only screen and (min-width: 40em) {
  .nav-mobile {
    .menu {
      &.secondaire {
        flex-basis: auto;
        padding-bottom: 0;
      }
    }
  }
}

@media only screen and (min-width: 60em) {
  body.nav-mobile-actif {
    overflow: initial;

    .ul-bandeau {
      overflow-y: initial;
    }
  }

  .nav {
    display: block;
  }

  .nav-ul,
  .nav-unite {
    display: flex;
  }

  .nav-mobile {
    display: none;
  }
}

@media only screen and (min-width: 80em) {
  .nav-unite {
    .ul-sous-unite + .menu {
      a {
        padding: 0.688rem 2rem;
      }
    }
  }
}
